<div class="h-full flex flex-column align-items-center justify-content-center">
  <p-card [header]="'passwordReset.title' | translate">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="field">
        <label for="password">{{ 'forms.password' | translate }}</label>
        <input
          class="w-full"
          type="password"
          name="password"
          id="password"
          formControlName="password"
          pInputText />
      </div>
      <div class="field">
        <label for="confirmPassword">{{
          'forms.confirmPassword' | translate
        }}</label>
        <input
          class="w-full"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          formControlName="confirmPassword"
          pInputText />
      </div>
      <button
        type="submit"
        pButton
        severity="success"
        [loading]="status() === 'loading'"
        [label]="'forms.submit' | translate"></button>
    </form>
  </p-card>
</div>
