<div class="pt-2 mx-auto w-6">
  <form
    (ngSubmit)="submit()"
    [formGroup]="changePasswordForm"
    class="flex flex-column">
    <div class="field">
      <label for="currentPassword">{{ 'forms.password' | translate }}</label>
      <input
        formControlName="currentPassword"
        class="w-full"
        type="password"
        id="currentPassword"
        pInputText />
      @if (currentPassword.hasError('required') && (currentPassword.dirty ||
      currentPassword.touched)) {
      <small class="input-error">{{ 'forms.required' | translate }}</small>
      }
    </div>
    <div class="field">
      <label for="newPassword">{{
        'changePassword.newPassword' | translate
      }}</label>
      <input
        formControlName="newPassword"
        class="w-full"
        type="password"
        id="newPassword"
        pInputText />
      @if (newPassword.hasError('required') && (newPassword.dirty ||
      newPassword.touched)) {
      <small class="input-error">{{ 'forms.required' | translate }}</small>
      }
    </div>
    <div class="field">
      <label for="confirmNewPassword">{{
        'changePassword.confirmNewPassword' | translate
      }}</label>
      <input
        formControlName="confirmNewPassword"
        class="w-full"
        type="password"
        id="confirmNewPassword"
        pInputText />
      @if ((confirmNewPassword.dirty || confirmNewPassword.touched)) { @if
      (confirmNewPassword.hasError('required')) {
      <small class="input-error">{{ 'forms.required' | translate }}</small>
      } @if (confirmNewPassword.hasError('notMatch')) {

      <small class="input-error">{{ 'forms.notMatch' | translate }}</small>
      } }
    </div>
    <button
      pButton
      severity="success"
      [loading]="status() === 'loading'"
      [disabled]="changePasswordForm.invalid"
      [label]="'changePassword.change' | translate"></button>
  </form>
  @if (status() === 'success') {
  <p-messages
    [value]="[
      {
        severity: 'success',
        summary: 'global.success' | translate,
        detail: 'changePassword.success' | translate
      }
    ]">
  </p-messages>
  }
</div>
