<footer
  class="flex justify-content-between align-items-center px-4 py-2 bg-primary">
  <span class="font-light text-xl"
    >Jakub Fudali & Dominik Jałowiecki & Mikołaj Myrlak</span
  >
  <div class="flex gap-4">
    <a
      href="https://www.facebook.pl"
      class="text-white text-4xl pi pi-facebook"></a>
    <a
      href="https://www.instagram.pl"
      class="text-white text-4xl pi pi-instagram"></a>
    <a href="https://www.x.com" class="text-white text-4xl pi pi-twitter"></a>
  </div>
</footer>
